{% for item in teams %}
    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
        <div class="team-grid">
          <a href="{{ path('app_top_employers_details') }}">
            <div class="teamgrid-user">
                <img src="{{ asset( item.img ) }}" alt="" class="img-fluid" />
            </div>
            
            <div class="teamgrid-content">
                <h4>{{ item.name }}</h4>
                <span class="text-main">{{ item.title }}</span>
                
            </div>
          </a>
        </div>
    </div>
{% endfor %}