<div class="row justify-content-end align-items-md-center">
					
    <div class="d-none d-lg-block col-lg-6 position-absolute top-0 start-0 bg-cover h-100 rounded-end" style="background-image: url({{ asset('assets/img/banner-1.jpg') }});"></div>
    <div class="d-lg-none mb-5 mb-md-0">
        <img class="img-fluid rounded" src="{{ asset('assets/img/banner-1.jpg') }}" alt="Image Description">
    </div>

    <div class="col-lg-6 align-self-center">
        <div class="p-lg-5 p-md-0 pt-md-5">

            <div class="row mb-sm-4">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="choose-us-head">
                        <div class="choose-us-wriops mb-2"><span class="font--bold label-light-warning px-3 py-2 rounded">About Company</span></div>
                        <div class="choose-title">
                            <h2>Genesis. People. Growth.<br></h2>
                            <p>20+ years of trusted recruitment and HR expertise</p>
                        </div>
                        <div class="jobstock-icon-box-list mt-4">
                            <ul>
                                
                                <li>
                                    <div class="vib-list-wrap21">
                                        <div class="vib-list-icon">
                                            <i class="fa-solid fa-check"></i>
                                        </div>
                                        <div class="vib-list-caption">
                                            <h5>Established Legacy</h5>
                                            <p>Founded in 2000, Genesis began with domestic and mid-level hiring, building strong foundations through consistent performance and trust.</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="vib-list-wrap21">
                                        <div class="vib-list-icon">
                                            <i class="fa-solid fa-check"></i>
                                        </div>
                                        <div class="vib-list-caption">
                                            <h5>Proven Industry Trust</h5>
                                            <p>Between 2011 and 2015, we developed strong working relationships with India’s top 500 companies through professionalism and reliability.</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="vib-list-wrap21">
                                        <div class="vib-list-icon">
                                            <i class="fa-solid fa-check"></i>
                                        </div>
                                        <div class="vib-list-caption">
                                            <h5>Innovation in Recruitment</h5>
                                            <p>For over two decades, we have continuously evolved with creative, innovative, and effective recruitment solutions.</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="vib-list-wrap21">
                                        <div class="vib-list-icon">
                                            <i class="fa-solid fa-check"></i>
                                        </div>
                                        <div class="vib-list-caption">
                                            <h5>People-Centric Leadership</h5>
                                            <p>Formed by visionary leaders, Genesis helps companies move from strategy to execution with a strong focus on people and culture.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <a class="btn btn-main fw-medium px-4" href="#">Get Started</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Col -->
    
</div>