{% for item in infos %}
    <div class="single-side-info">
        <span class="text-sm-muted sld-subtitle">{{ item.title }}</span>
        <h6 class="sld-title">{{ item.name }}</h6>
    </div>
{% endfor %}