{% extends 'Base/base.html.twig' %}

{% block content %}

{% include 'Base/navbar2.html.twig' %}

<!-- Page Title Start -->
<section class="bg-cover bg-second" style="background:url({{ asset('assets/img/bg2.png') }})no-repeat;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				
				<h2 class="ipt-title text-light">Our Latest Updates</h2>
				<span class="ipn-subtitle text-light opacity-75">Get all latest news and updates</span>
				
			</div>
		</div>
	</div>
</section>
<!-- Page Title End -->

<!-- Blog List Start -->
<section class="gray-simple">
	<div class="container">
	
		<!-- row Start -->
		<div class="row gx-4 gy-4">
		
			<!-- templates/Base/Pages/blog2.html.twig -->
            {% include 'Base/Pages/blog2.html.twig' %}
			
		</div>
		<!-- /row -->

		<!-- templates/Base/For-Candidate/Browse-Jobs/grid-style-1/pagination.html.twig -->
        {% include 'Base/For-Candidate/Browse-Jobs/grid-style-1/pagination.html.twig' %}		
		
	</div>	
</section>
<!-- Blog List End -->
			
<!-- templates/Base/Home/home-4/find2.html.twig -->
{% include 'Base/Home/home-4/find2.html.twig' %}
			
<!-- templates/Base/Home/index/log.html.twig -->
{% include 'Base/Home/index/log.html.twig' %}

{% include 'Base/footer2.html.twig' %}

{% endblock %}