{% extends 'Base/base.html.twig' %}

{% block content %}

{% include 'Base/navbar2.html.twig' %}

<!-- Page Title Start -->
<section class="bg-cover bg-second" style="background:url({{ asset('assets/img/bg2.png') }})no-repeat;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				
				<h2 class="ipt-title text-light">We’re Launching Soon</h2>
				<span class="ipn-subtitle text-light opacity-75">Our website is under development. We’ll be live soon with new opportunities and services.</span>
				
			</div>
		</div>
	</div>
</section>
<!-- Page Title End -->

<!-- User Dashboard -->
<section class="error-wrap">
	<div class="container">
		<div class="row justify-content-center">
			
			<div class="col-lg-6 col-md-10">
				<div class="text-center">
					
					<img src="{{ asset('assets/img/coming-soon.png') }}" class="img-fluid" alt="">
					<p class="fs-6">Genesis Placement Services is preparing to launch a smarter way to connect employers and job seekers. We’ll be live shortly.</p>
					<a class="btn btn-main px-5" href="{{ path('app_index') }}">Back To Home</a>
					
				</div>
			</div>
			
		</div>
	</div>
</section>
<!-- User Dashboard End -->
			
<!-- templates/Base/Home/home-2/working2.html.twig -->

{# {% include 'Base/Home/home-2/working2.html.twig' %} #}

<!-- Call To Action -->
<section class="bg-cover call-action-container dark" style="background:#016551 url({{ asset('assets/img/footer-bg-dark.png') }})no-repeat;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-10 col-md-12 col-sm-12">
                
                <div class="call-action-wrap">
                    <div class="call-action-caption">
                        <h2 class="text-light">Are You Already Working With Us?</h2>
                        <p class="fs-6 text-light">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias</p>
                    </div>
                    <div class="call-action-form">
                        <form>
                            <div class="newsltr-form">
                                <input type="text" class="form-control" placeholder="Enter Your email">
                                <button type="button" class="btn btn-subscribe bg-dark">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- Call To Action End -->

<!-- templates/Base/Home/index/log.html.twig -->
{% include 'Base/Home/index/log.html.twig' %}

{% include 'Base/footer3.html.twig' %}

{% endblock %}