{% extends 'Base/base.html.twig' %}

{% block content %}

{% include 'Base/navbar2.html.twig' %}

<!-- Page Title Start -->
<section class="bg-cover bg-second" style="background:url({{ asset('assets/img/bg2.png') }})no-repeat;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				
				<h2 class="ipt-title text-light">Help & Component</h2>
				<span class="ipn-subtitle text-light opacity-75">Check all elements and components</span>
				
			</div>
		</div>
	</div>
</section>
<!-- Page Title End -->

<!-- All Components Start -->
<section>
	<div class="container">
	
		<!-- row Start -->
		<div class="row mb-5">
			
			<div class="col-xl-6 col-lg-6 col-md-12 col-12">
				<div class="elements-wrap">
					<h3>Headings</h3>

					<!-- templates/Base/help/headings.html.twig -->
            		{% include 'Base/help/headings.html.twig' %}

				</div>
			</div>
			
			<div class="col-xl-6 col-lg-6 col-md-12 col-12">
				<div class="elements-wrap">
					<h3>Buttons</h3>
					<div class="d-flex flex-wrap gap-2">
						
						<!-- templates/Base/help/buttons.html.twig -->
            			{% include 'Base/help/buttons.html.twig' %}

					</div>
				</div>
			</div>
			
		</div>
		<!-- /row -->
		
		<!-- row Start -->
		<div class="row mb-5">
			
			<div class="col-xl-6 col-lg-6 col-md-12 col-12">
				<div class="elements-wrap">
					<h3>Alerts</h3>

					<!-- templates/Base/help/alerts.html.twig -->
            		{% include 'Base/help/alerts.html.twig' %}

				</div>
			</div>
			
			<div class="col-xl-6 col-lg-6 col-md-12 col-12">
				<div class="elements-wrap">
					<h3>Alert Links</h3>

					<!-- templates/Base/help/links.html.twig -->
            		{% include 'Base/help/links.html.twig' %}

				</div>
			</div>
			
		</div>
		<!-- /row -->
		
		<!-- row Start -->
		<div class="row mb-5">
			
			<div class="col-xl-6 col-lg-6 col-md-12 col-12">
				<div class="elements-wrap">
					<h3>Badges</h3>
					<div class="d-flex flex-wrap gap-2 mb-4">

						<!-- templates/Base/help/badges.html.twig -->
            			{% include 'Base/help/badges.html.twig' %}

					</div>
					
					<h3>Avatar</h3>
					<div class="d-flex align-items-center flex-wrap gap-3 mb-4">
						
						<!-- templates/Base/help/avatar.html.twig -->
            			{% include 'Base/help/avatar.html.twig' %}

					</div>
					
					<h3>Pagination</h3>
					<div class="pagination-wrap">
						<nav aria-label="...">
							<ul class="pagination">
							<li class="page-item"><a href="#" class="page-link">Previous</a></li>
							<li class="page-item"><a class="page-link" href="#" style="margin-left: 1rem;">1</a></li>
							<li class="page-item active">
								<a class="page-link" href="#" aria-current="page">2</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">4</a></li>
							<li class="page-item"><a class="page-link" href="#">5</a></li>
							<li class="page-item"><a class="page-link" href="#">Next</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			
			<div class="col-xl-6 col-lg-6 col-md-12 col-12">
				<div class="elements-wrap">
					<h3>Form Elements</h3>
					
					<!-- templates/Base/help/form.html.twig -->
            		{% include 'Base/help/form.html.twig' %}

				</div>
			</div>
			
		</div>
		<!-- /row -->
		
		<!-- row Start -->
		<div class="row mb-5">
			
			<div class="col-xl-6 col-lg-6 col-md-12 col-12">
				<div class="elements-wrap">
					<h3>Accordion</h3>
					<div class="accordion" id="accordionExample">
						
						<!-- templates/Base/help/accordion.html.twig -->
            			{% include 'Base/help/accordion.html.twig' %}

					</div>
				</div>
			</div>
			
			<div class="col-xl-6 col-lg-6 col-md-12 col-12">
				<div class="elements-wrap">
					<h3>Navs and tabs</h3>
					
					<!-- templates/Base/help/tabs.html.twig -->
            		{% include 'Base/help/tabs.html.twig' %}

				</div>
			</div>
			
		</div>
		<!-- /row -->
		
	</div>	
</section>
<!-- All Components End -->
			
<!-- templates/Base/Home/home-4/find2.html.twig -->
{% include 'Base/Home/home-4/find2.html.twig' %}
		
<!-- templates/Base/Home/index/log.html.twig -->
{% include 'Base/Home/index/log.html.twig' %}

{% include 'Base/footer2.html.twig' %}

{% endblock %}