{% for item in companies %}
    <div class="col">
        <figure class="single-brand thumb-figure">
            <img src="{{ asset( item.img ) }}" class="img-fluid" alt="">
        </figure>
    </div>
{% endfor %}