<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 order-xl-1 order-lg-1 order-md-1">
    <div class="work-process mb-5">
        <div class="work-process-icon"><span><i class="fa-solid fa-file-shield text-main"></i></span></div>
        <div class="work-process-caption">
            <h4>EXECUTIVE SEARCH</h4>
            <p>Genesis Placement Services understands the importance of handling recruitment assignments with professionalism, care, and complete confidentiality. Our team of senior consultants brings deep industry expertise, strong technical backgrounds, and a commitment to excellence, ensuring the right talent match for every requirement.</p>
        </div>
    </div>
    
    <div class="work-process mb-5">
        <div class="work-process-icon"><span><i class="fa-solid fa-paste text-main"></i></span></div>
        <div class="work-process-caption">
            <h4>DATABASE SELECTION</h4>
            <p>Genesis Placement Services maintains a database of over 50,000 active and verified professionals across diverse industries. Our automated, Oracle-based screening system ensures precise resume evaluation, enabling accurate identification of the right talent.</p>
        </div>
    </div>
    
    <div class="work-process mb-5">
        <div class="work-process-icon"><span><i class="fa-solid fa-unlock text-main"></i></span></div>
        <div class="work-process-caption">
            <h4>HEAD HUNTING & REFERENCES</h4>
            <p>Genesis Placement Services leverages this as a powerful search tool, supported by a team of expert recruiters with strong technical expertise. Our consultants thoroughly understand client requirements, products, processes, and industry landscape, enabling precise headhunting and strong candidate relationships to deliver talent aligned with client specifications.</p>
        </div>
    </div>
    
    {# <div class="work-process">
        <div class="work-process-icon"><span><i class="fa-solid fa-user-clock text-main"></i></span></div>
        <div class="work-process-caption">
            <h4>HIRE EMPLOYEE</h4>
            <p>Aliquam vestibulum cursus felis. In iaculis iaculis sapien ac condimentum. Vestibulum congue posuere lacus</p>
        </div>
    </div> #}
</div>

<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 order-xl-2 order-lg-3 order-md-3">
    <div class="eslio-pincc m-auto">
        <img src="{{ asset('assets/img/core_services.png') }}" class="img-fluid" alt="">
    </div>
</div>

<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 order-xl-3 order-lg-2 order-md-2">
    <div class="work-process mb-5">
        <div class="work-process-icon"><span><i class="fa-solid fa-laptop-file text-main"></i></span></div>
        <div class="work-process-caption">
            <h4>ADVERTISEMENT & RESPONSES</h4>
            <p>Our third option is, advertisement & response to hunt specific talent. We release advertisements on various job portals, news papers & other sources. It is one of the effective tool for hunting the right talent.</p>
        </div>
    </div>
    
    <div class="work-process mb-5">
        <div class="work-process-icon"><span><i class="fa-solid fa-business-time text-main"></i></span></div>
        <div class="work-process-caption">
            <h4>OTHER SOURCES</h4>
            <p>We search candidates through our existing network, references, free lancers & various job portals with a main aim to spot the right talent as per client specification within the deadline.</p>
        </div>
    </div>
    
    {# <div class="work-process mb-5">
        <div class="work-process-icon"><span><i class="fa-solid fa-sack-dollar text-main"></i></span></div>
        <div class="work-process-caption">
            <h4>PAY MONEY</h4>
            <p>Aliquam vestibulum cursus felis. In iaculis iaculis sapien ac condimentum. Vestibulum congue posuere lacus</p>
        </div>
    </div>
    
    <div class="work-process">
        <div class="work-process-icon"><span><i class="fa-regular fa-face-laugh-wink text-main"></i></span></div>
        <div class="work-process-caption">
            <h4>HAPPY USER</h4>
            <p>Aliquam vestibulum cursus felis. In iaculis iaculis sapien ac condimentum. Vestibulum congue posuere lacus</p>
        </div>
    </div> #}
</div>